<div fxLayout='row' class="zero">
  <div fxFlex="20%" class="one" >
  	<div fxLayout='column' class="column-flex">
  		<div fxFlex="33%" class="column_one_one"></div>
  		<div fxFlex="33%" class="column_one_two"></div>
  		<div fxFlex="33%" class="column_one_three"></div>
  	</div>
  </div>
  <div fxFlex="20%" class="two" >
  	<div fxLayout='column' class="column-flex">
  		<div fxFlex="70%" class="column_two_one"></div>
  		<div fxFlex="30%" class="column_two_two"></div>
  	</div>

  </div>
  <div fxFlex="20%" class="three">
  	<div fxLayout='column' class="column-flex">
  		<div fxFlex="200px" class="column_two_one"></div>
  		<div fxFlex="100px" class="column_two_two"></div>
  	</div>
  </div>
  <div fxFlex="20%" class="four">
  	<div fxLayout='column' class="column-flex">
  		<div fxFlex="30%" class="column_two_one">
  			<div fxLayout='row' class="column-flex">
  				<div fxFlex="150px" class="row_column_two_one_one"></div>
  				<div fxFlex="150px" class="row_column_two_one_two"></div>
  			</div>
  		</div>
  		<div fxFlex="20%" class="column_two_two"></div>
  		<div fxFlex="50%" class="column_two_three">
  			<div fxLayout='row' class="column-flex">
  				<div fxFlex="33%" class="row_column_two_three_one"></div>
  				<div fxFlex="33%" class="row_column_two_three_two"></div>
  				<div fxFlex="33%" class="row_column_two_three_three"></div>
  			</div>
  		</div>
  	</div>
  </div>
  <div fxFlex="20%" class="five">
  	<div fxLayout='column' class="column-flex">
  		<div fxFlex="25%" class="column_five_one">
  			<div fxLayout='row' class="column-flex">
  				<div fxFlex="33%" class="row_column_five_one"></div>
  				<div fxFlex="33%" class="row_column_five_two"></div>
  				<div fxFlex="33%" class="row_column_five_three"></div>
  			</div>
  		</div>
  		<div fxFlex="50%" class="column_five_two">
  			<div fxLayout='column' class="column-flex">
  				<div fxFlex="50%" class="column_column_five_one"></div>
  				<div fxFlex="50%" class="column_column_five_two"></div>
  			</div>
  		</div>
  		<div fxFlex="25%" class="column_five_three">
  			<div fxLayout='row' class="column-flex">
  				<div fxFlex="50%">
  					<div fxLayout='column' class="column-flex">
  						<div fxFlex="33%"></div>
  						<div fxFlex="33%"></div>
  						<div fxFlex="33%">
  							<div fxLayout='row' class="column-flex">
  								<div fxFlex="25%"></div>
  								<div fxFlex="25%"></div>
  								<div fxFlex="25%"></div>
  								<div fxFlex="25%"></div>
  							</div>
  						</div>
  					</div>
  				</div>
  				<div fxFlex="50%">
  					<div fxLayout='row' class="column-flex">
  						<div fxFlex="50%"></div>
  						<div fxFlex="50%"></div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</div>