/* You can add global styles to this file, and also import other style files */
/*Angular Material */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.head-content{
	color: white;
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

mat-list-item{
	color: white;
}

.mat-list-base .mat-list-item .mat-line{
	white-space: pre-wrap !important;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
	color: white !important;
	cursor: pointer;
}

*, body{
	font-family: 'Open Sans', sans-serif;
}

table{
	width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.example-form {
  width: 100%;
  height: 45px !important;
}

.example-full-width {
  width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-underline ng-tns-c7-1 ng-star-inserted{
	height: 0px !important !important;
	display: none !important !important;
}